*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

ul {
    list-style: none;
}
