:root {
    font-size: 10px;
    font-family: Roboto, sans-serif;

    --color-bttf-primary: #e95822;
    --color-bttf-secondary: #f0de15;
    --color-bttf-tertiary: #0e155d;

    --color-indy-base: #090a08;

    --color-indy-primary: #f25921;
    --color-indy-secondary: #feea10;
    --color-indy-tertiary: #32231f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
label,
legend {
    color: var(--color-indy-base);
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

a {
    font-weight: 700;
    text-decoration: none;
}

ul {
    list-style: none;
}
