:root {
    /* font-size: 10px; */

    /* --color-primary: #e95822;
    --color-secondary: #f0de15;
    --color-tertiary: #0e155d; */

    --color-base: #090a08;

    --color-bg: #fcfbf4;

    --color-primary: #f25921;
    --color-secondary: #feea10;
    --color-tertiary: #32231f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1.6rem; */
}

body {
    background-color: var(--color-bg);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
label,
legend {
    color: var(--color-base);
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

a {
    font-weight: 700;
    text-decoration: none;
}

ul {
    list-style: none;
}
